body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #87cefa;
    color: #7fff00;
}

form input[type="text"] {
    width: 100%;
    max-width: 30px;
    margin: auto;
    border: 1px solid #7fff00;
    border-radius: 8px;
    background-color: #87cefa;
}



